<h2>hello from templates/ add gist</h2>
<AddGist @addFile={{action this.addFile}}></AddGist>
{{!-- <h2>hello from add-gist</h2>
<div class="main-code-box">
  {{#each this.gists as |gist|}}
  {{gist.fileName}}
  <div class="file-block">
    <div class="file-header">
      <h2>{{gist.description}}</h2>
      <small>{{gist.fileName}}</small>
    </div>
    <div class="code-box">
      <CodeBlock @language="javascript">
        {{gist.body}}
      </CodeBlock>
    </div>
  </div>
  {{/each}}
</div> --}}